#page-title {
	text-align: center;
}

.boards {
  display: table;
  width: 100%;
}

.board {
  width: 50%;
  display: inline-table;
  padding: 0px;
}

#player1-board .row {
	background-color: steelblue;
}

#player2-board .row {
	background-color: gray;
}

.player-name {
	text-align: center;
}

.row {
	display: table;
	height: 35px;
	margin: 0 auto;
	padding: 0 auto;
}

.col {
	display: inline-table;
	width: 35px;
  outline:1px solid black;
  height: 35px;
}

.ship-cell {
  height: 35px;
  width: 35px;
  outline: 1px solid red;
  background-color: black;
  display: inline-table;
}
